app/*.php
app/code/community/
app/code/core/

app/design/adminhtml/default/find/
app/design/adminhtml/default/default/layout/*.xml
!app/design/adminhtml/default/default/layout/jcubelink.xml
app/design/adminhtml/default/default/locale/
app/design/adminhtml/default/default/template/
app/design/frontend/
app/design/install/


app/etc/*.xml*
app/etc/modules/Mage*
app/locale/

dev/
downloader/
errors/
includes/
js/
lib/
media/
pkginfo/
shell/
skin/
var/

.htaccess*
/mage
/*.php*
/*.sh
/*.html
/*.txt
/*.ico
/*.ini*
