<?xml version="1.0"?>
<config>
    <modules>
        <Ecube_JcubeConnect>
            <version>0.2.1</version>
        </Ecube_JcubeConnect>
    </modules>

    <global>
        <models>
            <jcubeconnect>
                <class>Ecube_JcubeConnect_Model</class>
            </jcubeconnect>
        </models>
        <blocks>
            <jcubeconnect>
                <class>Ecube_JcubeConnect_Block</class>
            </jcubeconnect>
        </blocks>
        <helpers>
            <jcubeconnect>
                <class>Ecube_JcubeConnect_Helper</class>
            </jcubeconnect>
        </helpers>
    </global>

    <frontend>
        <events>
            <!-- retreive cart event -->
            <controller_action_predispatch>
                <observers>
                    <jcubeconnect>
                        <class>Ecube_JcubeConnect_Model_Observer_Sync</class>
                        <method>controllerPredispatch</method>
                    </jcubeconnect>
                </observers>
            </controller_action_predispatch>

            <!-- checkout_cart_save_after -->
            <checkout_cart_save_after>
                <observers>
                    <jcubeconnect>
                        <class>Ecube_JcubeConnect_Model_Observer_Sync</class>
                        <method>cartSaveAfter</method>
                    </jcubeconnect>
                </observers>
            </checkout_cart_save_after>

            <!-- just before respone -->
            <controller_front_send_response_before>
                <observers>
                    <jcubeconnect>
                        <class>Ecube_JcubeConnect_Model_Observer_Sync</class>
                        <method>sendResponseBefore</method>
                    </jcubeconnect>
                </observers>
            </controller_front_send_response_before>

            <!-- could be this is not needed anymore -->
            <customer_logout>
                <observers>
                    <jcubeconnect>
                        <class>Ecube_JcubeConnect_Model_Observer_Sync</class>
                        <method>customerLogout</method>
                    </jcubeconnect>
                </observers>
            </customer_logout>

            <!-- quote merge -->
            <sales_quote_merge_after>
                <observers>
                    <jcubeconnect>
                        <class>Ecube_JcubeConnect_Model_Observer_Sync</class>
                        <method>quoteMergeAfter</method>
                    </jcubeconnect>
                </observers>
            </sales_quote_merge_after>
        </events>

        <!-- Router needed for debug -->
        <routers>
            <jcubeconnect>
                <use>standard</use>
                <args>
                    <module>Ecube_JcubeConnect</module>
                    <frontName>jcubeconnect</frontName>
                </args>
            </jcubeconnect>
        </routers>
    </frontend>

    <admin>
        <routers>
            <jcubeconnect>
                <use>admin</use>
                <args>
                    <module>Ecube_JcubeConnect</module>
                    <frontName>jcubeconnect</frontName>
                </args>
            </jcubeconnect>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <jcubeconnect translate="title">
                <title>jCube</title>
                <sort_order>51</sort_order>
                <children>
                    <jcubeconnectgo translate="title">
                        <title>jCube</title>
                        <action>jcubeconnect/adminhtml_jcubeconnect</action>
                    </jcubeconnectgo>
                    <jcubeconnectconfig translate="title">
                        <title>Configuration</title>
                        <action>adminhtml/system_config/edit/section/jcubeconnect</action> 
                    </jcubeconnectconfig>
                </children>
            </jcubeconnect>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <jcubeconnect translate="title" module="jcubeconnect">
                                            <title>jCubeConnect</title>
                                        </jcubeconnect>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <jcubeconnect translate="title" module="jcubeconnect">
                            <title>jCubeConnect</title>
                            <children>
                                <jcubeconnectgo translate="title" module="jcubeconnect">
                                    <title>jCube</title>
                                </jcubeconnectgo>
                                <jcubeconnectconfig translate="title" module="jcubeconnect">
                                    <title>Configuration</title>
                                </jcubeconnectconfig>
                            </children>
                        </jcubeconnect>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <jcubeconnect>
                    <file>jcubeconnect.xml</file>
                </jcubeconnect>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <jcubeconnect>
            <frame>
                <url>http://www.e-cube.nl/</url>
                <width>100%</width>
                <height>450px</height>
            </frame>
            <customer>
                <id>0</id>
                <key></key>
            </customer>
            <cartsync>
                <enabled>0</enabled>
                <retreive>1</retreive>
                <retreive_on_routes>/^(\/customer\/|\/checkout\/cart).*$/</retreive_on_routes>
                <send>1</send>
                <no_send_on_routes>/^(\/jcubeconnect\/).*$/</no_send_on_routes>
                <!--<api_url_getbasket>http://ts-jcube01-dev.e-cube.nl/mgnapi/requestBasket</api_url_getbasket>
                <api_url_setbasket>http://ts-jcube01-dev.e-cube.nl/mgnapi/updateBasket</api_url_setbasket>-->
                <api_url_getbasket>http://SHOPDOMAIN/jcubeconnect/fakebasket/getBasket</api_url_getbasket>
                <api_url_setbasket>http://SHOPDOMAIN/jcubeconnect/fakebasket/setBasket</api_url_setbasket>
            </cartsync>
            <advanced>
                <debug>0</debug>
                <log_force>0</log_force>
                <log_transport>0</log_transport>
            </advanced>
        </jcubeconnect>
    </default>
</config>
